<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
  <link rel="stylesheet" href="{% static '/chooseyearbba.css/'%}">
</head>
<body>
    
    <div>
        <h1 id="h1">Student Attendance System</h1>
    </div>
    <div class="container">
    <div>   
    <a href="/home"><button class="b3">Home</button></a>
    <button class="b3">Course</button>
    <button class="b33">Attendance</button>
    <button class="b4">Logout</button> 
    </div>
    </div>
    <div>
        <h3 style="font-size: 2em;">BIT</h3>
        <a href="/year1bit"><h4 class="li3">1. Year 1</h4></a>
        <a href="/year2bit"><h4 class="li3">2. Year 2</h4></a>
        <a href="/year3bit"><h4 class="li3">3. Year 3</h4></a>
    </div>
</body>
</html>