<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Attendance System</title>
{% load static %}
  <link rel="stylesheet" href="{% static '/home.css/'%}">
</head>
<body>
<div>
    <h1 id="h1">Student Attendance System</h1>
</div>
<div class="container">
<div>   
<button class="b3">Home</button>
<a href="/course"><button class="b33">Course</button></a>
<a href="/select"><button class="b3">Attendance</button></a>
<button class="b4">Logout</button> 
</div>
</div>